In [2]:
import pandas as pd
import numpy as np

In [3]:
driv = pd.read_csv("../data/driving2.csv")
park = pd.read_csv("../data/parks.csv")
zone = pd.read_csv("../data/zones.csv")

In [4]:
driv.values[:,1:]

array([[0, -1, -1, ..., -1, -1, -1],
       [-1, 0, -1, ..., -1, -1, -1],
       [-1, -1, 0, ..., -1, -1, -1],
       ...,
       [-1, -1, -1, ..., 0, -1, -1],
       [-1, -1, -1, ..., -1, 0, -1],
       [-1, -1, -1, ..., -1, -1, 0]], dtype=object)

In [6]:
driv.head(52)

,STATE,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,AL,0,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,AR,-1,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,514,-1,-1,-1,-1,-1,-1,-1
2,AZ,-1,-1,0,755,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,CA,-1,-1,-1,0,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,CO,-1,-1,-1,-1,0,-1,-1,-1,-1,...,-1,-1,-1,521,-1,-1,-1,-1,-1,-1
5,CT,-1,-1,-1,-1,-1,0,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6,DC,-1,-1,-1,-1,-1,-1,0,-1,-1,...,-1,-1,-1,-1,106,-1,-1,-1,-1,-1
7,DE,-1,-1,-1,-1,-1,-1,-1,0,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
8,FL,210,-1,-1,-1,-1,-1,-1,-1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
9,GA,160,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,250,-1,-1,-1,-1,-1,-1,-1,-1
10,IA,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,503,-1,-1,-1,-1,-1,-1,-1,-1,-1
11,ID,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,534,-1,-1,-1
12,IL,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
13,IN,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
14,KS,-1,-1,-1,-1,541,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
15,KY,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
16,LA,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,1067,-1,-1,-1,-1,-1,-1,-1
17,MA,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,180,-1,-1,-1,-1
18,MD,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,142,-1,-1,-1,385,-1
19,ME,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
20,MI,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,372,-1,-1
21,MN,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,397,-1,-1,-1,-1,-1,-1,-1,-1,-1
22,MO,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
23,MS,-1,263,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
24,MT,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
25,NC,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,172,-1,-1,-1,-1,-1
26,ND,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
27,NE,-1,-1,-1,-1,487,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,444
28,NH,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,116,-1,-1,-1,-1
29,NJ,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
30,NM,-1,-1,480,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
31,NV,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
32,NY,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
33,OH,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
34,OK,-1,-1,-1,-1,679,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
35,OR,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
36,PA,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,366,-1
37,RI,-1,-1,-1,-1,-1,87,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
38,SC,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
39,SD,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,-1,-1,-1,-1,-1,-1,-1,-1,425
40,TN,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
41,TX,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,-1,-1,-1,-1,-1,-1,-1
42,UT,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,-1,-1,-1,-1,-1,-1
43,VA,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,614,-1,-1,0,-1,-1,-1,-1,-1
44,VT,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,0,-1,-1,-1,-1
45,WA,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,0,-1,-1,-1
46,WI,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,0,-1,-1
47,WV,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,0,-1
48,WY,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,440,-1,-1,-1,-1,-1,0

In [21]:
ls = driv.columns[1:]

In [22]:
ls

Index(['AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'IA', 'ID',
       'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS',
       'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR',
       'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV',
       'WY'],
      dtype='object')

In [34]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [50]:
for i in ls:
    print(driv.loc[(driv['STATE']==i) & (driv[i]!=-1)])
    print('-'*64)

  STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
0    AL   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO   MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
0  -1  -1  -1  -1  -1  -1  248  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
  STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
1    AR  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH   OK  \
1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  340

   OR  PA  RI  SC  SD  TN   TX  UT  VA  VT  WA  WI  WV  WY
1  -1  -1  -1  -1  -1  -1  514  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
  STATE  AL  AR  AZ   CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
2    AZ  -1  -1   0  755  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM   NV  NY  OH  OK  \
2  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  733  -1  -1  -1

   OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
2  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
  STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
3    CA  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  OR  \
3  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
3  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
  STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
4    CO  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  OR  \
4  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   PA  RI  SC  SD  TN  TX   UT  VA  VT  WA  WI  WV  WY
4  -1  -1  -1  -1  -1  -1  521  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
  STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
5    CT  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV   NY  OH  OK  \
5  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  114  -1  -1

   OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
5  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
  STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
6    DC  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  OR  \
6  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   PA  RI  SC  SD  TN  TX  UT   VA  VT  WA  WI  WV  WY
6  -1  -1  -1  -1  -1  -1  -1  106  -1  -1  -1  -1  -1
----------------------------------------------------------------
  STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
7    DE  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  OR  \
7  -1  64  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
7  129  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
  STATE   AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
8    FL  210  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  OR  \
8  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
8  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
  STATE   AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
9    GA  160  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1

   MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  OR  \
9  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

   PA  RI  SC  SD   TN  TX  UT  VA  VT  WA  WI  WV  WY
9  -1  -1  -1  -1  250  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
10    IA  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND   NE  NH  NJ  NM  NV  NY  OH  OK  \
10  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  187  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC   SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
10  -1  -1  -1  -1  503  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
11    ID  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM   NV  NY  OH  OK  \
11  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  449  -1  -1  -1

     OR  PA  RI  SC  SD  TN  TX  UT  VA  VT   WA  WI  WV  WY
11  476  -1  -1  -1  -1  -1  -1  -1  -1  -1  534  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA   IA  ID  IL  IN  KS  KY  LA  \
12    IL  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  335  -1   0  -1  -1  -1  -1

    MA  MD  ME  MI  MN   MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
12  -1  -1  -1  -1  -1  195  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
12  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID   IL  IN  KS  KY  LA  \
13    IN  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  211   0  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
13  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
13  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA   CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
14    KS  -1  -1  -1  -1  541  -1  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
14  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
14  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID   IL  IN  KS  KY  LA  \
15    KY  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  373  -1  -1   0  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
15  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
15  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
16    LA  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
16  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN    TX  UT  VA  VT  WA  WI  WV  WY
16  -1  -1  -1  -1  -1  -1  1067  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
17    MA  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV   NY  OH  OK  \
17   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  170  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA   VT  WA  WI  WV  WY
17  -1  -1  -1  -1  -1  -1  -1  -1  -1  180  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
18    MD  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
18  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT   VA  VT  WA  WI   WV  WY
18  -1  -1  -1  -1  -1  -1  -1  -1  142  -1  -1  -1  385  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
19    ME  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE   NH  NJ  NM  NV  NY  OH  OK  \
19  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  164  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
19  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
20    MI  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
20  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA   WI  WV  WY
20  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  372  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
21    MN  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC   ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
21  -1  -1  -1  -1   0  -1  -1  -1  -1  437  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC   SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
21  -1  -1  -1  -1  397  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN   KS  KY  LA  \
22    MO  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  220  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND   NE  NH  NJ  NM  NV  NY  OH   OK  \
22  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  349  -1  -1  -1  -1  -1  -1  420

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
22  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL   AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  \
23    MS  -1  263  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

     LA  MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  \
23  623  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OK  OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
23  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA   ID  IL  IN  KS  KY  LA  \
24    MT  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  480  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
24  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
24  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL   GA  IA  ID  IL  IN  KS  KY  LA  \
25    NC  -1  -1  -1  -1  -1  -1  -1  -1  -1  260  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
25  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT   VA  VT  WA  WI  WV  WY
25  -1  -1  -1  -1  -1  -1  -1  -1  172  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
26    ND  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS   MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
26  -1  -1  -1  -1  -1  -1  -1  613  -1   0  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
26  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA   CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
27    NE  -1  -1  -1  -1  487  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
27  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV   WY
27  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  444
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
28    NH  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
28  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA   VT  WA  WI  WV  WY
28  -1  -1  -1  -1  -1  -1  -1  -1  -1  116  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
29    NJ  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
29  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1  -1

    OR   PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
29  -1  127  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR   AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
30    NM  -1  -1  480  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
30  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
30  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
31    NV  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
31  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
31  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
32    NY  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
32  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0  -1  -1

    OR   PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
32  -1  293  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL   IN  KS   KY  \
33    OH  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  173  -1  192

    LA  MA  MD  ME   MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  \
33  -1  -1  -1  -1  256  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0

    OK  OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
33  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA   CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
34    OK  -1  -1  -1  -1  679  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ   NM  NV  NY  OH  OK  \
34  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  534  -1  -1  -1   0

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
34  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
35    OR  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
35  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
35   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
36    PA  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY   OH  OK  \
36  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  368  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI   WV  WY
36  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  366  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
37    RI  -1  -1  -1  -1  -1  87  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
37  50  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
37  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL   GA  IA  ID  IL  IN  KS  KY  LA  \
38    SC  -1  -1  -1  -1  -1  -1  -1  -1  -1  214  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS  MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
38  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV  WY
38  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \
39    SD  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    MA  MD  ME  MI  MN  MO  MS   MT  NC  ND  NE  NH  NJ  NM  NV  NY  OH  OK  \
39  -1  -1  -1  -1  -1  -1  -1  730  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1

    OR  PA  RI  SC  SD  TN  TX  UT  VA  VT  WA  WI  WV   WY
39  -1  -1  -1  -1   0  -1  -1  -1  -1  -1  -1  -1  -1  425
----------------------------------------------------------------
   STATE  AL  AR  AZ  CA  CO  CT  DC  DE  FL  GA  IA  ID  IL  IN  KS  KY  LA  \

In [5]:
park.head()

,STATE,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,PARKS,0,1,3,9,4,0,0,0,3,...,2,1,2,5,1,0,3,0,1,2

In [20]:
park.values[0][1:]

array([0, 1, 3, 9, 4, 0, 0, 0, 3, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 2, 1, 1, 0, 0, 0, 2, 2, 0, 1, 0, 1, 0, 0, 1, 2, 1, 2, 5, 1,
       0, 3, 0, 1, 2], dtype=object)

In [6]:
zone.head()

,STATE,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,ZONE,6,8,11,12,10,2,4,3,5,...,9,6,9,11,5,3,12,7,5,10

In [57]:
class dijkstra:
    def __init__(self):
        # self.in_st = in_start
        # self.min_parks = min_parks
        #self.num_nodes = num_nodes
        self.park_visit = 0
        self.zone_counter= 0
        self.visited= []
        self.pa_cost = 0

    def find_zone(self,state):
        z = [1,2,3,4,5,6,7,8,9,10,11,12]
        counter = 0
        con = zone.loc[0,state]
        cc= con.item()
        for i in z:
            if i == cc:
                counter = i
                return i
    
    def find_state_of_neighbours(self,state):
        for i in range(0,len(driv['STATE'])):
            if driv['STATE'][i] != state:
                i +=1
            else:
                return i
    
    def dijkstra_algo(self,start,end):
        self.visited.append(start)
        if start == end:
            return self.pa_cost
        else:
            for i in self.neighbours(start):
                if i[0] not in self.visited:
                    self.visited.append(i[0])
                    self.pa_cost += i[1]
                    self.dijkstra_algo(i[0],end)
                    self.pa_cost -= i[1]
                    self.visited.remove(i[0])
            return self.pa_cost

    
    def neighbours(self,state):
        mm = []
        i = dijkstra.find_state_of_neighbours(self,state)
        m=driv.iloc[i]
        m = list(m)
        g = zone.columns.values.tolist()
        for i in range(1,50):
            if m[i] != -1:
                if m[i] != 0:
                    mm.append((g[i],m[i]))
        return mm

In [59]:
initial = input()
end = input()
dij = dijkstra()
print(dij.dijkstra_algo(initial,end))

0

3